.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-flex-end {
    justify-content: flex-end;
}

.align-end {
    align-items: end;
}

.align-start {
    align-items: start;
}
